@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Russo+One");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  clear: both; }

.top {
  height: 120px;
  line-height: 100px;
  border-top: 5px solid #ff6600; }
  .top .top_block_1 {
    height: 20px;
    line-height: 20px;
    text-align: right;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0; }
    .top .top_block_1 span {
      font-weight: 700; }
    .top .top_block_1 a {
      text-decoration: none;
      color: #000; }
  .top .top_block_2 .logo {
    float: left; }
    .top .top_block_2 .logo a {
      font-family: 'Russo One', sans-serif;
      font-size: 50px;
      text-transform: uppercase;
      text-decoration: none;
      color: #ff6600; }
  .top .top_block_2 .nav {
    float: right; }
    .top .top_block_2 .nav li {
      display: inline-block;
      margin-left: 50px; }
    .top .top_block_2 .nav a {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: #ff6600;
      -webkit-transition: 1s;
      transition: 1s;
      border-bottom: 1px solid #fff; }
    .top .top_block_2 .nav a:hover {
      border-bottom: 5px solid #ff6600;
      padding-bottom: 30px;
      -webkit-transition: 0.5s;
      transition: 0.5s; }

.about {
  height: 450px;
  background-color: #ff6600; }
  .about .about_img {
    height: 411px;
    width: 700px;
    background-image: url("../img/about.png");
    background-repeat: no-repeat;
    float: left; }
  .about .about_text {
    float: right;
    max-width: 420px;
    height: 415px;
    border: 3px solid #fff;
    padding: 10px; }
    .about .about_text h1 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 30px;
      font-weight: 700;
      text-transform: capitalize;
      color: #fff;
      text-align: center;
      position: relative; }
    .about .about_text h1:after {
      display: block;
      content: "";
      width: 50px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: -25px; }
    .about .about_text p {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      text-align: left;
      margin-top: 20px; }
    .about .about_text a {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      float: right;
      border-bottom: 1px solid #ff6600;
      -webkit-transition: 1s;
      transition: 1s; }
    .about .about_text a:hover {
      border-bottom: 3px solid #fff;
      padding-bottom: 10px;
      -webkit-transition: 0.5s;
      transition: 0.5s; }

.work_text {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 20px; }
  .work_text h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
    position: relative; }
  .work_text h1:after {
    display: block;
    content: "";
    width: 50px;
    height: 3px;
    background-color: #ff6600;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -25px; }
  .work_text p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px; }
